/* Добавляем стили для текста */
h1 {
  font-family: Arial, sans-serif;
  color: #333; /* Цвет текста */
  text-align: center; /* Центрируем текст */
}

/* Стили для мигающего элемента */
.flashing {
  animation: flash 1s infinite alternate; /* Анимация мигания */
  -webkit-animation: flash 1s infinite alternate; /* Поддержка Safari и Chrome */
}

/* Описание анимации */
@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
